<div class="row" *ngFor="let session of sessions">
  <div class="col-md-10">
    <collabsible-well [title]="session.name">
      <div well-title>
        {{session.name}}
        <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color:red"></i>
      </div>

      <div well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration|duratipon}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </collabsible-well>
  </div>
</div>
